body{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Edward_Hopper%2C_Ground_Swell%2C_1939%2C_NGA_131206.jpg/2560px-Edward_Hopper%2C_Ground_Swell%2C_1939%2C_NGA_131206.jpg);
  background-size: cover;
  background-repeat:no-repeat;
  background-position: 50%;
  background-attachment:fixed;
}

#name.heading{
  color: rgb(0,0,0);
  text-align:center;
}

.subheading{
  color:blue;
  text-align:center;
  display:block;
}

.section h1{
  color:blue;
  text-transform:uppercase;
}

table{
  border-width: 1px;
  border-style: solid;
  border-color:black;
  border-collapse: collapse;
}

th, td{
  border-width: 1px;
  border-style: solid;
  border-color:black;
  text-align:center;
}
